:root {
    --bg-color: white;
    --text-color: black;
    --red-color: #ff3939;
    --dark-red-color: #c20000;
}

.dark {
    --bg-color: #121212;
    --text-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    zoom: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px 150px;
    transition: 0.3s;
}

#themeToggleButton {
    background: var(--red-color);
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#themeToggleButton:hover {
    background: var(--dark-red-color);
}

@media (max-width: 1100px) {
    body {
        margin: 25px 7%;
    }
}

@media (max-width: 900px) {
    body {
        margin: 25px 6%;
        zoom: 100%;
    }
}

h1 {
    border-bottom: 4px solid var(--red-color);
    padding-bottom: 15px;
    display: block;
}

hr {
    border: 0;
    border-top: 1px solid var(--red-color);
    margin-top: 25px;
}

.autocad {
    color: var(--red-color);
    font-size: 70px;
    font-weight: bold;
}

#servoDellaGlebaButton {
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    background: var(--red-color);
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

#servoDellaGlebaButton:hover {
    background: var(--dark-red-color);
}

a {
    color: var(--red-color);
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #links {
    display: none;
}

.topnav a.icon {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    transform: scale(1.50);
}

@media (max-width: 550px) {
    .topnav #links {
        display: contents;
    }

    .topnav a.icon {
        display: none;
    }
}

#returnToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--red-color);
    border: none;
    padding: 10px;
    border-radius: 15%;
    cursor: pointer;
    z-index: 99;
}

#returnToTopButton a {
    font-size: 20px;
    text-decoration: none;
}