:root {
    --bg-color: white;
    --text-color: black;
    --red-color: #ff3939;
    --dark-red-color: #c20000;
    --selection-color: #ffabab;
    --link-text-color: black;
}

.dark {
    --bg-color: #121212;
    --text-color: white;
    --selection-color: #ce0000;
    --link-text-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    zoom: 110%;
    font-family: 'Segoe UI', sans-serif;
    margin: 25px 150px;
    transition: 0.3s;
}

a {
    color: var(--link-text-color);
    border-bottom: 2px solid red;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: red;
}

button {
    background: var(--red-color);
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px 16px;
    margin: 5px 0;
}

button:hover {
    background: var(--dark-red-color);
}

#returnToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 15%;
    z-index: 99;
}

#returnToTopButton a {
    font-size: 20px;
    border-bottom: 0;
}

#servoDellaGlebaButton {
    width: 100%;
    font-size: 25px;
}

@media (max-width: 1100px) {
    body {
        margin: 25px 7%;
    }
}

@media (max-width: 900px) {
    body {
        margin: 25px 6%;
        zoom: 100%;
    }
}

h1 {
    border-bottom: 4px solid var(--red-color);
    padding-bottom: 15px;
    display: block;
}

hr {
    border: 0;
    border-top: 1px solid var(--red-color);
    margin-top: 25px;
}

.autocad {
    color: var(--red-color);
    font-size: 70px;
    font-weight: bold;
}

#servoDellaGlebaButton {
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    background: var(--red-color);
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

#servoDellaGlebaButton:hover {
    background: var(--dark-red-color);
}

.topnav {
    overflow: hidden;
    position: relative;
}

@media (max-width: 550px) {
    .topnav #links {
        display: contents;
    }

    .topnav a.icon {
        display: none;
    }
}

::selection {
    background: var(--selection-color);
}